.navbar{box-sizing: border-box;

position: absolute;
width: 1440px;
height: 100px;
left: 115px;
top: 0px;
font-family: Poppins;
padding: 17px;

}

body{
    background: #d7d7d7;
}

img.kananbawah {
    float: right;
    margin: 1px;
    margin-top: 570px;
}

img.penbawah {
    float: right;
    margin: -100px;
    margin-top: 400px;
}

img.kertasbawah {
    float: left;
    margin: 1px;
    margin-top: 340px;
}

img.penkertas {
    float: left;
    margin: -370px;
    margin-top: 705px;
}

img.penbesar {
    float: left;
    margin: -370px;
    margin-top: 500px;
}

img.camera {
    float: left;
    margin: -528px;
    margin-top: 50px;
}

img.klipone {
    float: left;
    margin: -200px;
    margin-top: 500px;
}

img.kliptwo {
    float: left;
    margin: -100px;
    margin-top: 490px;
}

img.vas {
    float: right;
    margin: -400px;
    margin-top: 50px;
}


H1{position: absolute;
margin: 50px;
width: 1130px;
height: 100px;
left: 323px;
top: 258px;

font-family: 'poppins';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 100px;
/* identical to box height, or 100% */

text-align: center;
letter-spacing: -0.2px;

color: #232323;
}


h2{
    position: absolute;
width: 531px;
height: 28px;
left: 670px;
top: 450px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height, or 117% */

letter-spacing: 0.3px;

color: #6B6B6B;

opacity: 0.7;
}

button.btn{
    box-sizing: border-box;

position: absolute;
width: 200px;
height: 60px;
left: 820px;
top: 500px;
margin: 20px;

background: #FF214F;
border-radius: 30px;
}

/* h1 {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 10px;
    background: linear-gradient(90deg, red, yellow, green, blue);
    -webkit-background-clip: text;
    background-size: 1000%;
    transform-origin: right;
    color: transparent;
    animation: josse 15s linear infinite;
}

@keyframes josse {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
} */
